<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gitPub App</title>
</head>

<body>
    <style type="text/css">
        body {
            color: blanchedalmond;
            background-color: steelblue;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column nowrap;
        }

        h1 {
            font-size: 60px;
            margin-bottom: 5px;
        }

        h2 {
            font-size: 40px;
            margin-bottom: 0px;
        }

        h3 {
            font-size: 30px;
            margin-top: 0px;
        }

        .image {
            max-width: 300px;

        }
    </style>
    <h1>At foo bar</h1>
    <% const foodName=food.name 
    const words=foodName.split(" ")
                    for (let i = 0; i < words.length; i++) {
                        words[i] = words[i][0].toUpperCase() + words[i].substr(1) %>
                        
                        <% } %>
    <h2> <%= words.join(" ") %> </h2>
    <h3>Price: $<%= food.price %>.00 </h3>

    <img class = " image" src="<%=food.image%>">

        <a href="/food">Return to Title Page</a>



</body>

</html>