<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gitPub App</title>
</head>
<body>
    <style type="text/css">
        body {
            color: blanchedalmond;
            background-color: steelblue;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column nowrap;
        }
        h1 {
            font-size: 50px;
        }
        a {
            padding: 20px;
            font-size: 30px;
        }
        
    </style>

    <h1>Welcome to gitPub!</h1>
    <div>
        <a href="/food">Food Menu</a>
        <a href="/drinks">Drinks Menu</a>
    </div>
</body>
</html>